<%= form_with(model: password, local: true) do |form| %>
  <% if password.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(password.errors.count, "error") %> prohibited this password from being saved:</h2>

      <ul>
        <% password.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :login %>
    <%= form.text_field :login %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
  <p>Select "Generate" to auto generate a password</p>
  <div>
    <%= form.label :generate %>
    <%= form.check_box :generate %>
  </div>

  <div>
    <%= form.label :length %>
    <%= form.text_field :length %>
  </div>
  <p>To exlcude a class of characters from your password, select it</p>
  <div class="field">
    <%= form.label :lowercase %>
    <%= form.check_box :lowercase %>
  </div>

  <div class="field">
    <%= form.label :uppercase %>
    <%= form.check_box :uppercase %>
  </div>

  <div class="field">
    <%= form.label :digits %>
    <%= form.check_box :digits %>
  </div>

  <div class="field">
    <%= form.label :symbols %>
    <%= form.check_box :symbols %>
  </div>

  <div class="field">
    <%= form.label :site %>
    <%= form.text_field :site %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, value: current_user.id, :readonly => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
