<div class="page">
  <p id="notice"><%= notice %></p>

  <div class="form">
    <p>
      <strong>Login:</strong>
      <%= @password.login %>
    </p>

    <p>
      <strong>Password:</strong>
      <%= @password.password %>
    </p>

    <p>
      <strong>Site:</strong>
      <%= @password.site %>
    </p>
  </div>

  <%= link_to 'Edit', edit_password_path(@password) %> |
  <%= link_to 'Back', passwords_path %>

</div>