<div class="welcome">
  <h1>Welcome to PWM beta</h1>
  <% if user_signed_in? %>
    <h5>Hello, <%= current_user.first_name %>!</h5>
  <% end %>
  <h3>Options:</h3>
  <% if not user_signed_in? %>
    <%= link_to "Sign In", new_user_session_path, class:"button" %>
    </br>
    <%= link_to "Register", new_user_registration_path, class:"button" %>
  <% else %>
    <%= link_to "Log Out", destroy_user_session_path, :method => :delete, class:"button" %>
    <%= link_to "My Passwords", passwords_path, class:"button" %>
  <% end %>
</div>

